<mat-card>
    <mat-card-header>
        <mat-card-title>Discount Offers</mat-card-title>
    </mat-card-header>
    <table mat-table [dataSource]="discountOffersDataSource">
        <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? toggleAllRows() : null" [checked]="discountSelection.hasValue() && isAllSelected()" [indeterminate]="discountSelection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selectDiscountOffer(row) : null" [checked]="discountSelection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                </mat-checkbox>
            </td>
        </ng-container>
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Offer Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
        <ng-container matColumnDef="items">
            <th mat-header-cell *matHeaderCellDef> Items </th>
            <td mat-cell *matCellDef="let element">
                <table>
                    <tr>
                        <th>Item Name</th>
                        <th>Quantity</th>
                        <th>Price</th>
                    </tr>
                    <tr *ngFor="let item of element.items">
                        <td>{{item.item_name}} {{item.free ? "( Free )" : ''}}</td>
                        <td>{{item.quantity}}</td>
                        <td>{{item.price}}</td>
                    </tr>
                </table>
            </td>
        </ng-container>
        <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef> Price </th>
            <td mat-cell *matCellDef="let element"> {{element.price}} </td>
        </ng-container>
        <ng-container matColumnDef="discount_percentage">
            <th mat-header-cell *matHeaderCellDef> % </th>
            <td mat-cell *matCellDef="let element"> {{element.discount_percentage}} </td>
        </ng-container>

        <ng-container matColumnDef="discounted_price">
            <th mat-header-cell *matHeaderCellDef> Discounted Price </th>
            <td mat-cell *matCellDef="let element"> {{element.discounted_price}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectDiscountOffer(row)"></tr>
    </table>
</mat-card>