<header>
    <nav>
        <img src="../assets/coffee_space.png" height="70px" />
        <button class="btn mat-flat-button mat-warn" (click)="createOrders()">Create Orders</button>
    </nav>
</header>
<div class="row ">
    <div class="col-3 ">
        <app-items #caffeItems (selectionItemEvent)="menuItemSelection($event)" (offerEvent)="refreshOffers($event)"></app-items>
    </div>
    <div class="col-4 ">
        <app-discount-offers #discountOffers (selectionDiscountOffersEvent)="discountOffersSelection($event)"></app-discount-offers>
        <app-free-offers #freeOffers (selectionFreeOffersEvent)="freeOffersSelection($event)"></app-free-offers>
    </div>
    <div class="col-5 ">
        <app-orders #orders></app-orders>
    </div>
</div>

<router-outlet>
</router-outlet>